/*
* Reseting all variables at first.    
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*
* Start creating Jans website from skretch: #151111;
*/

html{
    font-family: 'Source Sans Pro', sans-serif;
    background: #000000;
}
nav{
    height: auto;
    min-height: 6.2vh;
    width:79.5%;    
    background: transparent;
    margin: 1%;
    margin-top: 1%;
    padding:0%;
    opacity: 1;
    padding-right: 10%;
    padding-left: 10%;    
}
.navfixed{
    position: fixed;
    top: 0%;
    left:0%;
    right: 0%;
    width: 80%;
    margin-top: 0%;
    z-index: 10;
    -webkit-transition: 0.5s;
    -moz-transition:0.5s;
    transition: 0.5s
}
a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    text-decoration: underline;
    color: #686767;
} 
h6{
    font-size: 2rem;
    background: none;
}
h2{
    font-size: 2.47rem;
}
h3{
    font-size: 1.47rem;
    text-align: left;
    margin-bottom: 1%;
    margin-top: 2%;
}
p {
    line-height: 1.6rem;
    font-size: 1.2rem;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: #151111;
}
li {
    line-height: 1.6rem;
    font-size: 1.2rem;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: #151111;
}
path{
    fill: #ffffff;
}
footer{
    height: auto;
    width:96%;    
    background: #ffffff;
    margin: 1%;;
    padding:1%;
    opacity: 1; 

    text-align: center;   
}
#wrapper {
    height: 200vh;
    width: 130vh;
    margin:auto;
}
#inhalt{
    height: 100%;
    width: 100%;
}
#lang {
    text-align: center;
}
#titel{
    height: auto;
    width:96%;    
    background: none;
    margin: 1%;
    padding:1%;
    padding-top: 6%;
    padding-bottom: 6%;
    opacity: 1;
    text-align: center;
    color: #ffffff;    
}
#logo {
    height: 5%;
    width: auto;    
    background: none; 
    opacity: 1;  
    border-radius: 5%;
    -webkit-transition: 0.5s;
    -moz-transition:0.5s;
    transition: 0.5s; 
    position: fixed;       
    left: 95%;
    bottom: 5%;
    z-index: 10;
    padding:0.2%;   
    margin-right:1%; 
    transform-style: flat;
    font-size: 1.47rem;
}
#logo:hover{
    transform: scale(1.1);   
}
#hfg{
    color: #ffffff;
}
#xing {
    height: 5%;
    width: auto;    
    background: none; 
    opacity: 1;  
    border-radius: 5%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s; 
    position: fixed;       
    left: 94%;
    bottom: 9.2%;
    z-index: 10;
    padding:0.2%;   
    margin-right:1%;     
    font-size: 1.47rem;
    display: none;
}
#xing:hover{
    transform: scale(1.1);    
}
#linkedin {
    height: 4.3%;
    width: auto;    
    background: none; 
    opacity: 1;  
    border-radius: 5%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s; 
    position: fixed;       
    left: 94%;
    bottom: 0%;
    z-index: 10;
    padding:0.2%;
    margin-right: 1%;
    margin-bottom: 1%; 
    font-size: 1.47rem;
    display: none;
}
#linkedin:hover{
    transform: scale(1.1);    
}
#home{
    width: 100%;
    height: 75vh;
    
    color: #ffffff;
    padding-top: 20vh;
    font-size: 1.47rem;
    text-align: center;
}
#projects{
    width: 100%;
    height: 250vh;
}
#aboutme{
    width: 100%;
    height: 100vh;
}
.column {
    float: left;
    width: 46%;
    min-height: 21.5%;
    height: auto;
    margin: 1%;
    padding:1%;
    background: #ffffff;
}
.nai {
    float: left;
    width: 30%;
    height: auto;
    margin: 1.3% auto 1% auto;
    padding:1%;
    text-align: center;
    background: transparent;
    font-size: 1.3rem;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    border: solid #ffffff;
    color: #ffffff;
}
.nai:hover {
    text-decoration: none;
    margin-top: 05;
    float: left;
    width: 30%;
    height: auto;
    padding:1%;
    text-align: center;
    color: #151111;
    border: solid #151111;
}
.activenav{
    text-decoration: underline;
}
.sectionstart{
    height: 9.1vh;
}
.start{
    height: 9.1vh;
    display: none;
}
.scrollll{
    height: 9.1vh;
    display: inherit;
}
.imprint{
    height: auto;
    width:96%;    
    background: #ffffff;
    margin: 1%;;
    padding:1%;
    opacity: 1;
    text-align: left;    
}
.normallink:hover{
    color: #000000;
}
#anai:hover{
    text-decoration: none;
    color: #ffffff;
}
#main {
    margin-top:25%;
}
#seo{
    display: none;
}
.amnetworks {
    height: 5vh;
    width: 5vh;    
    background: none; 
    opacity: 1;  
    border-radius: 5%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    float: left;
    fill: black;
    margin-right: 2vh;
}
.amnetworks:hover{
    transform: scale(1.1);
    background-color: #151111;    
}
#construction{
    text-align: center;
    animation: pulsate 15s ease-out;
    animation-iteration-count: infinite;    
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

#page{
    display: none;
}
#loadingtext{
    font-size: 1.47rem;
    color: #ffffff;
    height: 10vh;
    width: auto;
    margin: auto;
    padding: auto;
    margin-top: 47vh;;    
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    display: flex;
	align-items: center;
	justify-content: center;
}

#loadingtext:hover{
    transform: scale(1.1);   
}

@media handheld, only screen and (max-width:1320px){
    nav{
        min-height: 4.8vh;
    }
    #wrapper{
        width: 100vh;
    }
    .sectionstart{
        height: 6vh;
    }
    .signal {
        display: none;
    } 
    #construction{
        animation: none;      
        transform: none;
        -webkit-transform: none;
        -moz-transform: none; 
        line-height: 1.2rem;
        font-size: 100%;
    }
}
@media handheld, only screen and (max-width:1040px){
    h6{
        font-size: 2rem;
    }
    h2{
        font-size: 1.73rem;
    }
    h3{
        margin-top: 4%;
    }
    nav{
        min-height: 4.1vh;
    }
    #wrapper{
        width: 75vh;
    }
    .sectionstart{
        height: 5vh;
    }      
}
@media handheld, only screen and (max-width: 800px){
    nav{
        width:96%;
        min-height: 5vh;
        padding-right: 0%;
        padding-left: 0%;
    }
    iframe{
        height: 100%;
        width: 100%;
    }    
    path{
        fill: #000000;
    } 
    #wrapper {
        width: auto;
        height: 300vh;
    }
    #xing{
        display: none;
    }
    #linkedin{
        display: none;
    }
    #logo{
        display: none;
    }
    #projects{
        width: 100%;
        height: 400vh;
    }
    #notmobile{
        display: none;
    }
    .column{
        float:none;
        width: 96%;
        min-height: 5%;
    }
    .nai {
        width: 29%;
    }
    .sectionstart{
        height: 4.5vh;
    } 
}   